<head>
    <link rel="stylesheet" href="./style.css">
    <script src="./myfile.js"></script>
    <body>
        <h1>Welcome To Chrome Developer Console for Beginner</h1>
    <ul>
        <li>Learn</li>
        <li>Share</li>
        <li>Repeat</li>
    </ul>
    <p>Clik Below To Begin Your Journey</p>

    <button type="button" onclick="onClickEvent()">Click Me To Start Learning</button>
    </body>
</head>